C:\Users\scarl\Desktop\Ghost Zone\college\fall 2024\projects because OMG\senior prjct\SentimentAnalyzer\firebase\gramalytics-f2363-firebase-adminsdk-kz50i-3189aecca9.json

.env

__pycache__/
*.py[cod]

venv/
env/